<%= image_tag 'vince2.jpg' %>
<h2>We'd Love to hear from you!</h2>
<p>Owner name: <%= @contact.name %></p>
<p>Address: <%= @contact.address %></p>
<p>Postal Code: <%= @contact.postal %></p>
<p>Phone Number: <%= @contact.phone %></p>
<p>Email: <%= @contact.email %></p>