<% if defined?(@previous_vault) %>
    <h4>You have also viewed:</h4>
    <table>
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
      </thead>
      <tr>
        <td><%= @previous_vault.name %></td>
        <td><%= @previous_vault.description %></td>
        <td><%= number_to_currency(@previous_vault.price) %></td>
        <td><%= @previous_vault.quantity%></td>
        <td><%= image_tag @previous_vault.image.medium.url%></td>
      </tr>
    </table>
<% end %>
