<h1>Welcome to Vault-Tec!</h1>
<%= link_to 'About Us', pages_about_path %>
<%= link_to 'Contact', pages_contact_path %>
<%= paginate @vault_lots %>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Category</th>
    <th>Price</th>
    <th>Stock quantity</th>
  </tr>
  </thead>
  <% @vault_lots.each do |vault| %>
  <tr>
    <td><%= vault.name %></td>
    <td><%= vault.description %></td>
    <td><%= vault.category.description %></td>
    <td><%= vault.price %></td>
    <td><%= vault.quantity%></td>
  </tr>
  <% end %>
</table>
<p>Search all Products by Name:</p>
<%= form_tag root_path do %>
    <%= text_field_tag :keywords %>
    <%= select_tag(:category_id, options_for_select(@categories_for_select)) %>
    <%= submit_tag 'Search' %>
    <%=  %>
<% end %>